.container {
  width: 80%;
  margin: 80px auto auto auto;
  text-align: center;
}

.content {
  width: 500px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: auto
}

.centered {
  text-align: center;
}

form {
  text-align: left;
}

.form-group {
  margin-bottom: 20px;
}

.form-label {
  width: 30%;
  font-weight: 700;
  display: inline-block;
}

.daftar-item {
  display: inline-block;
}

button {
  border-radius: 15px;
  height: 25px;
  cursor: pointer;
}

.tugas10--table {
  width: 80%;
  margin: auto;
  text-align: left;
  border: 1px solid black;
}

.tugas10--table > thead > tr > th {
  text-align: center;
  background: #cecece;
}

.tugas10--table > tbody > tr > td {
  background: coral;
  padding: 2px 5px;
}

.tugas11--time-wrapper {
  display: flex;
  justify-content: space-around;
}

.tugas10--table > tbody > tr > td input {
  width: 100%;
  box-sizing: border-box;
  height: 40px;
}

.tugas10--table > tbody > tr > td > [type=number]::-webkit-inner-spin-button, 
.tugas10--table > tbody > tr > td > [type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
}

nav.dark {
  background: #000000;
  color: #ffffff;
}

nav.light {
  background: #ffffff;
  color: #000000;
  box-shadow: 1px 1px #cecece;
}

nav > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100%;
}

nav > ul > li {
  padding: 20px 20px;
}

nav > ul a {
  color: inherit;
  text-decoration: none;
}

nav > ul a.active, nav > ul a:hover {
  border-bottom: 2px solid green;
}